{% extends "base.html" %}
{% block content_title %}
Emergency description
{% endblock %}
{% block content %}
{% if organization %}<!--content displayed to organizations account-->
Organization content
{% else %}{% if member or volunteer %}<!--content displayed to members and volunter account-->
member / volunteer content
{% else %}<!--content displayed to non logged users-->
<br/>
<h3>{{em.name}}</h3>
<ul>
    <li>Emergency name: {{em.name}} </li>
    <li>Organization: {{em.organization}}</li>
    <li>Emergency desc: {{em.description}} </li>
    <li>Needed_people: {{needed_people}} </li>
    <li>Volunteers: {{len(em.volunteers.all())}}</li>
    <li>Active: {{active}} </li>
</ul>

{% if volunteer and enroled %}
<a href="/emergencies/leave/?id={{em.pk}}"> Leave emergency </a>
{% else %}
{% if volunteer %}
<a href="/emergencies/join/?id={{em.pk}}"> Join us </a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
