{% extends "base.html" %}
{% block content_title %}
Emergency description
{% endblock %}
{% block content %}
{% if organization %}<!--content displayed to organizations account-->
Organization content
{% else %}{% if member or volunteer %}<!--content displayed to members and volunter account-->
member / volunteer content
{% else %}<!--content displayed to non logged users-->
<br/>
<h3>{{em.name}}</h3>
<ul>
    <li>{{em.description}}</li>
</ul>

{% if volunteer and enroled %}
<a href=/emergencies/leave> Leave emergency </a>
{% else %}
{% if volunteer %}
<a href=/emergencies/join> Join us </a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
