{% extends "base.html" %}
{% block content_title %}
Manage emergency
{% endblock %}
{% block content %}
<ul>
    <li>Emergency name: {{em.name}} </li>
    <li>Organization: {{em.organization}}</li>
    <li>Emergency desc: {{em.description}} </li>
    <li>Needed people: {{em.needed_people}} </li>
    <li>Volunteers: {{em.volunteers.all|length}}</li>
    <li>Active: {{em.active}} </li>
</ul>

<ul>
<li><a href="/emergencies/close/?id={{em.pk}}"> Close emergency </a></li>
<li><a href="/emergencies/call_volunteers/?id={{em.pk}}"> Call volunteers </a> </li>
</ul>
{% endblock %}
