
{% extends "base.html" %}


IF VOLONTARIO
{% block content_title %}
WELCOME!
{% endblock %}

{% block content %}
This is the content
{% endblock %}

{% block menu %}
<li><a href="/accounts/manage">Edit Account</a></li>
<li><a href="/accounts/logout">Logout</a></li>

{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/emergencies/">Emergencies</a></li>
    <li><a href="/tasks">Task</a></li>
</ul>
{% endblock %}

ELSE IF MEMBRO

{% block content_title %}
WELCOME!
{% endblock %}

{% block content %}
This is the content
{% endblock %}

{% block menu %}
<li><a href="/accounts/manage">Edit Account</a></li>
<li><a href="/accounts/logout">Logout</a></li>

{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/emergencies/">Emergencies</a></li>
    <li><a href="/events">Open Tasks</a></li>
    <li><a href="/events/create">Create Tasks</a></li>
</ul>
{% endblock %}

ELSE IF ORGANIZATION

{% block content_title %}
WELCOME!
{% endblock %}

{% block content %}
This is the content
{% endblock %}

