{% extends "base.html" %}
{% block content_title %}
Event description
{% endblock %}
{% block content %}

<ul style="list-syle-type: none">
    <li> Emergency: {{ev.emergency}}</li>
    <li>Volunteers:
    <ol>
        {% for vol in ev.volunteers.all %}
            <li><a href="/volunteers/{{vol.user.pk}}/">{{vol.user}}</a></li>
        {% endfor %}
    </ol>
    </li>
<li> Start date: {{ev.start_date}}</li>
<li> End date: {{ev.end_date}}</li>
<li> Description: {{ev.description}}</li>
<li> Active: {{ev.active}} </li>
</ul>

{% if owner %}
<br>
<a href=events/close> Close event </a>
{% endif %}
{% endblock %}
