{% extends "base.html" %}
{% block content_title %}
WELCOME!
{% endblock %}
{% block content %}
{% if organization %}<!-->content displayed to organizations account<-->
This is the content
{% else %}{% if member %}<!-->content displayed to members account<-->
This is the content
{% else %}{% if volunteer%}<!-->content displayed to volunteers account<-->
This is the content
{% else %}<!-->content displayed to non logged users<-->
This is the content
{% endif %}{% endif %}{% endif %}
{% endblock %}
