{% extends "base.html" %}

{% block content_title %}
Volunteer information
{% endblock %}

{% block content %}

<p>Please add your data:</p>
    <form action="." method="POST">
        {{ form.as_p }}
        <p><input type="submit" value="Submit"></p>
        <p><b>(*) This field is useful only to fill latitude and longitude fields</b></p>
        {% csrf_token %}
    </form>

<script type="text/javascript" src="/static/jquery-1.5.js"></script>
<script type="text/javascript" src="/static/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/static/jquery.autocomplete.css"/>

<script type="text/javascript">
var rows;
function attachAutoComplete(expression) {
 $(expression).unautocomplete();
 $(expression).autocomplete("http://nominatim.openstreetmap.org/search/",  {
    dataType: "jsonp",
    jsonp: "json_callback",
    parse: function(data) {
      rows = new Array();
      for (var i = 0; i < data.length; i++){
        if (data[i].class == "place") {
            rows[i] = { data: data[i].display_name,
                        value: {lat: data[i].lat, lon: data[i].lon},
                        result: data[i].display_name };
        }
      }
      return rows;
    },
    formatItem: function(row) { return row; },
    extraParams: {
      action: "opensearch",
      format: "json",
      q: function () { return $(expression).val() } },
    max: 10
 });
 $(expression).result(function(event, data, formatted) {
    for (var i=0; i<rows.length; i++) {
        if (rows[i].data == data) {
            $("#id_lat").val(rows[i].value.lat);
            $("#id_lon").val(rows[i].value.lon);
            break;
        }
    }
 });
}

attachAutoComplete("#id_location");
</script>

{% endblock %}
