{% extends "base.html" %}

{% block content_title %}
Volunteer information
{% endblock %}

{% block content %}

<p>If you are a member please wait your organization to activate your account.</p>

<p>Please add your data:</p>
    <form action="." method="POST">
        {{ form.as_p }}
        <div id="map" style="width:400px; height:400px" class="smallmap"></div>
        <p><input type="submit" value="Submit"></p>
        <p><b>(*) This field is useful only to fill latitude and longitude fields</b></p>
        {% csrf_token %}
    </form>

<script type="text/javascript" src="/static/jquery-1.5.js"></script>
<script type="text/javascript" src="/static/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" href="/static/jquery.autocomplete.css"/>

<script type="text/javascript">
var rows;
function attachAutoComplete(expression) {
 $(expression).unautocomplete();
 $(expression).autocomplete("http://nominatim.openstreetmap.org/search/",  {
    dataType: "jsonp",
    jsonp: "json_callback",
    parse: function(data) {
      rows = new Array();
      for (var i = 0; i < data.length; i++){
        if (data[i].class == "place") {
            rows[i] = { data: data[i].display_name,
                        value: {lat: data[i].lat, lon: data[i].lon},
                        result: data[i].display_name };
        }
      }
      return rows;
    },
    formatItem: function(row) { return row; },
    extraParams: {
      action: "opensearch",
      format: "json",
      q: function () { return $(expression).val() } },
    max: 10
 });
 $(expression).result(function(event, data, formatted) {
    for (var i=0; i<rows.length; i++) {
        if (rows[i].data == data) {
            $("#id_lat").val(rows[i].value.lat);
            $("#id_lon").val(rows[i].value.lon);
            break;
        }
    }
 });
}

attachAutoComplete("#id_location");
</script>

<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
            OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 

                trigger: function(e) {
                    var lonlat = map.getLonLatFromViewPortPx(e.xy);
                    $("#id_lat").val(lonlat.lat);
                    $("#id_lon").val(lonlat.lon);
                }

            });
            var map;
            function init(){
                map = new OpenLayers.Map('map');

                var ol_wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                    "http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'} );

            var jpl_wms = new OpenLayers.Layer.WMS( "NASA Global Mosaic",
                "http://t1.hypercube.telascience.org/cgi-bin/landsat7", 
                {layers: "landsat7"});

                jpl_wms.setVisibility(false);

                map.addLayers([ol_wms, jpl_wms]);
                map.addControl(new OpenLayers.Control.LayerSwitcher());
                // map.setCenter(new OpenLayers.LonLat(0, 0), 0);
                map.zoomToMaxExtent();
                var click = new OpenLayers.Control.Click();
                map.addControl(click);
                click.activate();

            }

            init();

</script>

{% endblock %}
