{% extends "base.html" %}

{% block content_title %}
{{ vol.user }}
{% endblock %}

{% block content %}
{% if vol %}
<h4>Information</h4>
<ul>
    <li>Name: {{vol.user.first_name}} {{vol.user.last_name}}</li>
    <li>Gender: {{vol.get_gender_display}}</li>
    <li>Telephone number: {{vol.tel}}</li>
    <li>Manual skills: {{vol.manual_skill}}</li>
    <li>Medical skills: {{vol.medical_skill}}</li>
    <li>Social skills: {{vol.social_skill}}</li>
    <li>Currently available: {%if vol.available%}Yes{%else%}No{%endif%}</li>
</ul>
<hr/>

<div id="map" style="width:400px; height:300px" class="smallmap"></div>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
    var vector_layer;
    var defaultStyle = new OpenLayers.Style({
                                    graphicName: "circle",
                                    strokeColor: "#ff0000",
                                    fillColor: "#ff0000",
                                    pointRadius: 5,
                                    fillOpacity: 0.5,
                               });
    function init(){
        map = new OpenLayers.Map('map');
        var point = new OpenLayers.Geometry.Point({{vol.city_lon}}, {{vol.city_lat}});
        point = point.transform(new OpenLayers.Projection("EPSG:4326"),  new OpenLayers.Projection("EPSG:900913"));
        var ol_wms = new OpenLayers.Layer.OSM();
        vector_layer = new OpenLayers.Layer.Vector("point", {styleMap: defaultStyle});
        map.addLayers([ol_wms, vector_layer]);
        vector_layer.addFeatures([new OpenLayers.Feature.Vector(point)]);
        map.setCenter(new OpenLayers.LonLat(0,0), 1);
    }
    init();
</script>


<hr/>

<h4>Comments</h4>
{% for com in comments %}
<p>From: <a href="/volunteers/{{com.user.pk}}">{{com.user}}</a></p>
<p>Feedback: {{com.get_feedback_display}}</p>
<p>{{com.text}}</p>
<hr/>
{% endfor %}
<br/><br/>
<h4>Post a comment:</h4>
<form action="." method="POST">
    {{ form.as_p }}
    <p><input type="submit" value="Submit"></p>
    {% csrf_token %}
</form>
{%endif%}
{% endblock %}
